<div class="col-lg-5">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <legend>Edit Reader</legend>
        <div class="form-group">
          <label class="col-lg-3 control-label" for="inputGoal">Name</label>
          <div class="col-lg-8">
            <input [(ngModel)]="selectedReader.name" class="form-control" id="inputGoal" name="name" placeholder="Name"
                   type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label" for="inputGoal">Weekly Goal</label>
          <div class="col-lg-8">
            <input [(ngModel)]="selectedReader.weeklyReadingGoal" class="form-control" id="inputGoal"
                   name="weeklyReaddingGoal" placeholder="Weekly Goal" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label" for="inputTotal">Total Read</label>
          <div class="col-lg-8">
            <input [(ngModel)]="selectedReader.totalMinutesRead" class="form-control" id="inputTotal"
                   name="totalMinutesRead" placeholder="Total Minutes Read" type="text">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-3">
            <button (click)="saveChanges()" class="btn btn-primary" type="button">Save</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
